.itembar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid lightblue;
  margin: 5px;
  width: 90%;
  border-radius: 5px;
  background-color: white;
}
.itembarr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid lightblue;
  margin: 5px;
  width: 90%;
  border-radius: 5px;
  background-color: white;
}
.itembar:hover {
  outline: 2px solid lightblue;
}
.itemcompo {
  height: auto;
  margin: 0px 5px;
  text-align: center;
  padding: 8px 4px 8px 4px;
}

.itemcomp {
  height: auto;
  text-align: center;
  margin: 0px 5px;
  padding: 8px 0px 8px 0px;
}
